
<div class="row align-items-center mt-2">
	<div class="col-auto">
		<button class="btn btn-primary api-call-button" data-api-call="{{ api_url }}">API Call</button>
		<span class="ml-2">{{ title }}</span>
	</div>
</div>
