{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}
	<div class="row">

		<!-- first quiz -->
		<div class="col-md-6">
			{% include 'home/inputForm.html.twig' with {
				'title': 'Unique Permutations',
				'input_id': 'uniquePermutationsInput',
				'input_label': 'Enter (signed) digits',
				'ajax_url': '/api/unique-permutations',
			} %}
		</div>

		<!-- second quiz -->
		<div class="col-md-6">
			{% include 'home/inputForm.html.twig' with {
				'title': 'Balanced Parentheses',
				'input_id': 'balancedParenthesesInput',
				'input_label': 'Enter parentheses',
				'ajax_url': '/api/balanced-parentheses',
			} %}
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
